body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

form {
  background-color: #66CCFF;
  margin: 0px;
}

input, button {
  display: inline-block;
  margin: 5px;
}

input {
  width: 50%;
}

/* fix responsive form layout */